/* CSS for website */

@font-face {
  font-family: 'TeleGrotesk';
  src: url("../fonts/TeleGroteskNormal.eot?") format("eot"), url("../fonts/TeleGroteskNormal.woff") format("woff"); }
@font-face {
  font-family: 'TeleGroteskFett';
  src: url("../fonts/TeleGroteskFett.eot?") format("eot"), url("../fonts/TeleGroteskFett.woff") format("woff"); }
@font-face {
  font-family: 'TeleGroteskHalbfett';
  src: url("../fonts/TeleGroteskHalbfett.eot?") format("eot"), url("../fonts/TeleGroteskHalbfett.woff") format("woff"); }
@font-face {
  font-family: 'TeleGroteskUltra';
  src: url("../fonts/TeleGroteskUltra.eot?") format("eot"), url("../fonts/TeleGroteskUltra.woff") format("woff"); }
* {
  font-weight: normal !important; }


.book.font-family-1 {
    font-family: "TeleGroteskHalbfett", sans-serif;
    font-weight: normal; 
   font-style: normal; 
   
}

body {
    font-family: "TeleGroteskHalbfett", sans-serif;
    font-weight: normal; 
   font-style: normal; 
   
}


ol li li {
    list-style-type: upper-alpha; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TeleGroteskFett'; 
   font-weight: normal; 
   font-style: normal; 
    color: #e20074;
}

h2 {
    border-top: thin solid #9b9b9b;
}


